* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: #5f84a2;
  color: #c1e8ff;
  padding: 1rem 0;
}

.navi {
  overflow: hidden;
  background-color: #5f84a2;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.navi a {
  text-align: center;
  background-color: #5f84a2;
  display: inline-block;
  color: #c1e8ff;
  padding: 15px 17px;
  text-decoration: none;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.navi a:hover {
  background-color: #cadeed;
  color: #5f84a2;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.news {
  display: flex;
  flex-direction: column;
  /* width: 65%; */
}

.Judul {
  text-align: center;
  width: 100%;
  font-size: 25pt;
  margin-bottom: 15px;
}

.title {
  display: block;
  text-align: left;
  flex-wrap: wrap;
  width: 100%;
  font-size: 20pt;
  margin-bottom: 5px;
}

.berita {
  background-color: b7d0e1;
  display: flex;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 6.7px 5.3px rgba(0.2, 0.2, 0.2, 0.2);
  justify-content: space-between;
}

.picture {
  display: flex;
  width: 25%;
  padding-right: 20px;
  max-width: 100%;
  height: auto;
  flex: none;
}

.agenda2 {
  font-size: 20pt;
}

.agenda {
  width: 30%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 8px 10px rgba(0.2, 0.2, 0.2, 0.2);
}

footer {
  background-color: #5f84a2;
  color: #c1e8ff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .navi {
    flex-direction: column;
  }

  .navi a {
    padding: 10px 0;
    width: 100%;
  }

  .main-content {
    flex-direction: column;
    padding: 1rem;
  }

  .news,
  .agenda {
    width: 100%;
    margin-bottom: 20px;
  }

  .picture {
    width: 100%;
    padding-right: 0;
  }

  .berita {
    flex-direction: column;
  }
}
